div.roo{

   text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    font-size: large;
display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
    height: 100vh;
    border: 10px inset #3d3d3dcc;
    background:blanchedalmond; 
}
