h1{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-size:  5em;
    line-height: 1.6;
    font-family: "Lucida Console", "Courier New", monospace;

    text-align: center;
    color: rgb(247, 142, 215);
}
h2 {
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-size:  5em;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(247, 193, 229);

}
body {
    background-color: blanchedalmond;
    border: 10px inset #3d3d3dcc; 

}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
-moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition:all .4s ease-in-out; ;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn28 {
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }             
 .bn632-hover:focus{
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: center;
}
  